body {
    background-color: #222629;
    margin: 0px;
}

/* NAVIGATION BAR */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
  }
  
  li a:hover {
    background-color: #111;
  }
  
/* BODY */

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
    letter-spacing: 4px;
}

h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    padding-left: 20px;
}

/* ASSIGNMENTS */

p a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    padding-left: 50px;
}

p a:hover {
    color: lightgray;
    padding-left: 50px;
}

iframe {
    padding-left: 40px;
}

h3 {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 40px;
}

h3 a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    color: white;
    text-decoration: none;
}