body {
    background-color: #222629;
    margin: 0px;
    padding: 0px;
}

/* NAVIGATION BAR */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    font-family: "Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
  }
  
  li a:hover {
    background-color: #fff;
    color: #222629;
  }
  
/* BODY */

p {
    font-weight: 100;
    color: white;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

h1 {
    color: white;
    font-family: "Segoe UI", "Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    padding-left: 50px;
    letter-spacing: 4px;
}

h2 {
    color: white;
    font-family: "Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 2px;
}

/* CONTAINER_01 */
.container_01 {
    background-color: rgb(199, 199, 199);
    height: 175px;
    border-bottom: 10px solid #333;
}

.container_01 p {
    padding-top: 30px;
    color: black;
    font-size: 65px;
}

/* CONTAINER_02 */

p a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    padding: 50px;
}

p a:hover {
    color: lightgray;
}

/* CONTAINER_SCRATCH */

.container_scratch {
    padding-left: 75px;
}



h3 {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 40px;
}

h3 a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    color: white;
    text-decoration: none;
}