.navbar {
    background-color: grey;  
    font-family: verdana;
    font-weight: bold;
    border: 1px solid aliceblue;
    padding: 20px;
}

div {
    border: 1px solid blue;
    padding: 20px;
}

a {
    font-family: verdana;
    color: white;
}

h1 {
    color: red;
    font-family: verdana;
    font-size: 25px;
}

h2 {
    color: red;
    font-family: verdana;
    font-size: 18px;
}